body {
  background-color: #1B2473;
}

.wrapper {
  background-color: #FFFFFF;
  max-width: 600px;
  min-height: 412px;  
  border-radius: 20px;
  display: flex;
  justify-content: center;
  position: relative;
  /* top: 50%;  */
  margin: 82px auto;
}


.form-login {
  display: none;
}


.form-title {
  font-family: Roboto, sans-serif;
  color: #787878;
  font-size: 50px;
  text-align: center;
  padding-top: 30px;
  margin: 0 0;
}

.form__email, .form__password {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__email-title, .form__password-title, .form__item-title {
  margin-left: 12px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  color: #787878;
  font-weight: 700;
  align-self: flex-start;
}


.asteriskOne::before {
  content: '*';
  position: absolute;
  left: 35px;
  top: 110px;
  font-size: 18px;
  font-family: Roboto, sans-serif;
}

.asteriskTwo::before {
  content: '*';
  position: absolute;
  left: 35px;
  bottom: 200px;
  font-size: 18px;
  font-family: Roboto, sans-serif;
}

.asterisk::before {
  content: '*';
  position: absolute;
  left: 35px;
  bottom: 140px;
  font-size: 18px;
  font-family: Roboto, sans-serif;
}

.form__email-input, .form__password-input {
  display: block;
  width: 485px;
  height: 41px;
  border: 3px solid #787878;
  border-radius: 10px;
  padding-left: 15px;
  font-family: 'Roboto, sans-serif', sans-serif;
  font-size: 28px;
  color: black;
  font-weight: 700;
}

.form__password-title {
  margin-top: 12px;
}

.error {
  display: none;
  color: #CB2424;
  align-self: flex-start;
  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 500;
  margin-left: 2px;
}

input {
  outline: none; 
}

::placeholder {
  color: #CCCCCC;
}

.checkbox {
  /* display: none; */
  width: 25px;
  height: 25px;
  position: relative;
  left: -3px;
}

.form__bottom {
  max-width: 385px;
  margin-top: 9px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #787878;
}

.form-special {
  width: 100%;
}

.form__submit {
  width: 180px;
  height: 52px;
  background-color: #1A226B;
  border-radius: 10px;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  color: white;
  font-weight: 700;
  margin: 20px 164px 0 164px;
  cursor: pointer;
  position: absolute;
  bottom: 26px;
}

.form-registration {
  display: flex;
  flex-direction: column;
}

.form-registration:last-child {
  display: block;
}